

<div class="section">
    <div class="container text-center">
      <h2 class="title">The Collection</h2>
      <p class="card-muted-title">Harry Potter - Minimalist Print Collection</p>
      <h5 class="description">
          2150 Times is a results-driven, digital marketing agency specializing in website design,
          mobile app development, and online marketing. 2150 Times’s mission is to create websites
          and digital solutions that help grow businesses online.
        </h5>
        <br  />
        <button class="btn btn-primary btn-lg btn-round hideme">More About Us</button>
    </div>
</div>

<div class="section">
  <h2 class="title text-center">Best Sellers</h2>
  <p class="card-muted-title text-center">Harry Potter - Minimalist Print Collection</p>
  <ul class="bestsellers-card">
    <li>
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21105555_10155670867852920_539109938448924283_n.jpg?oh=15a23e6a2ea20c9df6ef6e73c1bb761f&oe=5A28D2A9" alt="Card image cap">
          <div class="card-block text-center">
            <ul class="bestsellers-card-info">
              <li class="card-muted-title">
                Minimalist
              </li>
              <li>
                Wizard Prints
              </li>
              <li>
                <span class="badge badge-primary">Book 3</span>
              </li>
              <br />
            </ul>
            <ul class="list-inline bestsellers-card-dimensions">
              <h5 class="no-margin card-muted-title">Dimensions</h5>
              <li class="list-inline-item text-left">
                <h5 class="no-margin description">18"</h5>
              </li>
              <li class="text-right list-inline-item ">
               <h5 class="no-margin description">12"</h5>
              </li>
            </ul>
            <br />
            <br />
            <p class="description">
              $68
            </p>
            <button class="btn btn-primary hideme">
              <!-- <i class="fa fa-bullseye fa-2x" aria-hidden="true"></i> -->
              Add To Cart
            </button>
          </div>
       </div>
    </li>

    <li>
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21105555_10155670867852920_539109938448924283_n.jpg?oh=15a23e6a2ea20c9df6ef6e73c1bb761f&oe=5A28D2A9" alt="Card image cap">
          <div class="card-block text-center">
            <ul class="bestsellers-card-info">
              <li class="card-muted-title">
                Minimalist
              </li>
              <li>
                Wizard Prints
              </li>
              <li>
                <span class="badge badge-primary">Book 3</span>
              </li>
              <br />
            </ul>
            <ul class="list-inline bestsellers-card-dimensions">
              <h5 class="no-margin card-muted-title">Dimensions</h5>
              <li class="list-inline-item text-left">
                <h5 class="no-margin description">18"</h5>
              </li>
              <li class="text-right list-inline-item ">
               <h5 class="no-margin description">12"</h5>
              </li>
            </ul>
            <br />
            <br />
            <p class="description">
              $68
            </p>
            <button class="btn btn-primary hideme">
              <!-- <i class="fa fa-bullseye fa-2x" aria-hidden="true"></i> -->
              Add To Cart
            </button>
          </div>
       </div>
    </li>
  </ul>
</div>

<div class="section">
    <div class="container text-center">
      <h2 class="title">Special Print</h2>
      <p class="card-muted-title text-center">Harry Potter - Minimalist Print Collection</p>
      <h5 class="description">
          2150 Times is a results-driven, digital marketing agency specializing in website design,
          mobile app development, and online marketing. 2150 Times’s mission is to create websites
          and digital solutions that help grow businesses online.
        </h5>
    </div>
</div>



<% @products.each do |product| %>
	<div class="card">
		<div class="row">
			<div class="col-sm-8">
				<h3><%= product.title %></h3>
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
				<%= form_for(@order_item, remote: true) do |f| %>
					<%= f.hidden_field :product_id, value: product.id %>
					<h5><%= product.price %></h5>
					<div class="form-group">
						<%= f.text_field :quantity, value: 1, min: 1, class: 'form-control' %>
					</div>
					<%= f.submit "Add to cart", class: 'btn btn-primary btn-sm' %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
